{% extends 'base.html' %}

{% block content %}

<div class="container" style="transform: translateY(10px);">
    <h1 id = "Title">NOTAM Sorter</h1>
      <div class="container mt-5" style="transform: translateY(-20px);">
        <form id = "dataForm" onSubmit="checkInputs(); return false;">
	        <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="effectiveStartDate" class="form-label"><strong>Effective Start Date</strong></label>
                    <input type="text" class="form-control datetimepicker" id="effectiveStartDate" name="effectiveStartDate" placeholder="YYYY-MM-DD HH:MM:SS" autocomplete="off">
                    <span id="error-message1""> </span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="effectiveEndDate" class="form-label"><strong>Effective End Date</strong></label>
                    <input type="text" class="form-control datetimepicker" id="effectiveEndDate" name="effectiveEndDate" placeholder="YYYY-MM-DD HH:MM:SS" autocomplete="off">
                    <span id="error-message2"> </span>
                </div>
            </div>
	    <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="startAirport" class="form-label"><strong>Start Airport</strong></label>
                    <input type="text" class="form-control" id="startAirport" name="startAirport" placeholder="LAX" autocomplete="off" oninput="updateAirportOptions('startAirport', 'startAirportDropdown')">
                    <div class="dropdown" id="startAirportDropdown"></div>
                    <span id="error-message3"> </span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="destAirport" class="form-label"><strong>Destination Airport</strong></label>
                    <input type="text" class="form-control" id="destAirport" name="destAirport" placeholder="JFK" autocomplete="off" oninput="updateAirportOptions('destAirport', 'destAirportDropdown')">
                    <div class="dropdown" id="destAirportDropdown"></div>
                    <span id="error-message4"> </span>
                </div>
             </div>	
		<div id="additionalDestinations"></div>
            	<button type="button" id="addButton" class="btn btn-secondary submit" onclick="addDestination()">Add Another Destination</button>
            <div class="row" style="transform: translateY(10px);">
                <div class="col-md-6 mb-3">
                    <label for="radius" class="form-label"><strong>Circle Radius</strong></label>
                    <input type="text" class="form-control" id="radius" name="radius">
                    <span id="error-messageR"> </span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="pathWidth" class="form-label"><strong>Path Width</strong></label>
                    <input type="text" class="form-control" id="pathWidth" name="pathWidth">
                    <span id="error-messageW"> </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="sortBy" class="form-label"><strong>Sort By</strong></label>
                    <select class="form-select" id="sortBy" name="sortBy">
                        <option value="impact">Impact on Flight Operations</option>
			<option value="severity">Severity</option>
                        <option value="type">Type of NOTAM</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="sortOrder" class="form-label"><strong>Sort Order</strong></label>
                    <select class="form-select" id="sortOrder" name="sortOrder">
                        <option value="ascending">Ascending</option>
                        <option value="descending">Descending</option>
                    </select>
                </div>
            </div>
            <button type="submit" id="submitButton" class="btn btn-primary submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="hiddenObj">
    <group>
        <div class="ticks">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
        </div>
    </group> 
</div>

<script>
    var airportIATA = {{ airportIATA | safe }};
</script>

<!-- Form script file reference. -->
<script src="static/form.js" ></script>

{% endblock %}
